<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
</head>
<body>
  <%- include('./partials/nav') %>

  <h1>Full Menu - <%= RESTAURANT.name %></h1>
  <ul>
    <% menu.forEach(item => { %>
      <li>
        <ul> <%= item.name %>: $ <%= item.price %> </ul>
        <ul> <%= item.details %> </ul>
        <ul> Rating: <%= item.rating %> / 5</ul>
      </li>
    <% }) %>

  </ul>
</body>
</html>
